{% extends "auctions/layout.html" %}

{% load static %}

{% block extrahead %}

<link rel="stylesheet" href="{% static 'auctions/login.css' %}" />
<link rel="stylesheet" href="{% static 'auctions/button.css' %}" />

{% endblock %}

{% block title %}

Register

{% endblock %}


{% block body %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="container">
    <div class="info">
        <h1> Register </h1>
    </div>
</div>

<div class="form">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <form class="login-form">
            <input type="text" placeholder="Username" name="username">
            <input type="email" placeholder="Email Address" name="email">
            <input type="password" placeholder="Password" name="password">
            <input type="password" placeholder="Confirm Password" name="confirmation">
            <button type="submit" value="Login"> register </button>
            <p class="message"> Already have an account?
                <a href="{% url 'login' %}">
                    Log In here. </a>
            </p>
        </form>
</div>

{% endblock %}